.containerCart {
  padding: 3rem;

  h1 {
    color: var(--blue);
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .emptyCart {
    color: var(--blue);
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 2rem;
    font-weight: 600;
    word-spacing: 0.2rem;
    margin: 2rem 0;
    text-align: center;
  }

  .containerCartWorkshops {
    border: 0.1rem solid var(--black);
    border-radius: 2%;
    padding: 2rem;
    margin-top: 3rem;
  }

  .containerSingleWorkshop {
    padding: 1rem 2rem;
    border: 1px solid var(--grey);
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
  }

  .cartText {
    margin: 0 1.5rem;
    flex: 1;

    h2 {
      color: var(--blue);
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    div {
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.8rem;
    }

    .totalPriceWorkshop {
      text-align: right;
    }
  }

  .contentImage {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    .contentImage img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .totalSum {
    border-top: 3px solid var(--black);
    margin: 3rem 0;
    padding: 2rem 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: right;
  }

  .checkoutButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}
