.quantity {
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 2rem;
  font-weight: 600;
  word-spacing: 0.2rem;
  margin-bottom: 3rem;
}

.quantityOption {
  margin: 1rem;
  padding: 0.75rem;
  font-size: 1.3rem;
  border-radius: 5px;
  background-color: var(--grey);
}

.buttonQuantity {
  background-color: white;
  color: blue;
  border: none;
  padding: 1rem 3rem;
  cursor: pointer;
  margin-top: 6rem;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.buttonQuantity:hover {
  background-color: var(--blue);
  color: var(--white);
}
