/* General Styles */
.sectionContainer {
  border: 0.1rem solid black;
  padding: 2rem;
  max-width: 1200px; /* Added max-width for better control on larger screens */
  margin: 1rem auto; /* Center content horizontally */
}

.singleWorkshopHeading {
  background-color: var(--blue);
  opacity: 0.9;
  color: var(--white);
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.contentBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Workshop Info */
.workshopInfo {
  padding: 2rem;
  border: 1px solid var(--grey);
  border-radius: 5px;
}

.workshopDescription {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--black);
  margin-bottom: 2rem;
}

.workshopDetails {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 2rem;
}

.contentImage {
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}

.contentImage img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
  .contentBox {
    flex-direction: row;
  }

  .contentImage {
    flex: 1;
    margin-bottom: 0;
  }

  .workshopInfo {
    flex: 1;
    margin-left: 2rem;
  }

  .singleWorkshopHeading {
    font-size: 3.5rem;
  }

  .workshopDescription,
  .workshopDetails {
    font-size: 1.3rem;
  }
}

.link {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.otherWorkshopLink {
  padding: 1rem 1rem;
  border: 1px solid var(--grey);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.otherWorkshopLink:hover {
  background-color: var(--blue);
  color: var(--white);
}

.addViewCart {
  align-self: flex-end;
}

.viewCart {
  border: 1px solid var(--grey);
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.viewCart:hover {
  background-color: var(--blue);
  color: var(--white);
}
