.header {
  background-color: var(--grey);
  position: relative;
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.navigation {
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}

.footer {
  background-color: var(--grey);

  position: absolute;
  width: 100%;
  height: 5rem;
  padding: 2rem;
}
