.checkOutContainer {
  margin: 3rem;
  font-size: 18px;
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  opacity: 0.9;
}

.containerCart {
  border: 3px solid var(--grey);
  border-radius: 5px;
  opacity: 0.9;
  color: var(--black);
  margin-left: 20%;
  width: 40%;
  padding: 3rem;
  font-weight: 600;
  font-size: 1.3rem;
  h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 2rem;
    font-weight: 600;
    word-spacing: 0.2rem;
  }
  .overviewCheckout {
    margin-bottom: 1.5rem;
  }
}

.checkOutForm {
  width: 100rem;
}

.totalSum {
  border-top: 3px solid var(--black);
  margin: 0.1rem;
  padding: 3rem 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 0.2rem;
}
