.checkOutContainer {
  margin: 3rem;
  font-size: 18px;
  line-height: 2rem;
  display: flex;
  flex-direction: column; /* Stack items vertically on smaller screens */
  border-radius: 5px;
  opacity: 0.9;

  @media (min-width: 768px) {
    flex-direction: row; /* Align items horizontally on larger screens */
  }
}

.containerCart {
  border: 3px solid var(--grey);
  border-radius: 5px;
  opacity: 0.9;
  color: var(--black);
  width: 100%;
  padding: 3rem;
  font-weight: 600;
  font-size: 1.3rem;

  h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 2rem;
    font-weight: 600;
    word-spacing: 0.2rem;
  }

  .overviewCheckout {
    margin-bottom: 1.5rem;
  }

  @media (min-width: 768px) {
    margin-left: 3%; /* Adjust margin for better layout on larger screens */
    width: 40%;
  }
}

.checkOutForm {
  width: 100%;
  max-width: 100rem; /* Limit maximum width to prevent stretching */
  padding: 2rem; /* Adjust padding for better spacing */
  margin: 0 auto; /* Center the form horizontally */

  h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 2.8rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  div {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
  }

  input,
  input[type='date'],
  input[type='email'] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }
}

.totalSum {
  border-top: 3px solid var(--black);
  margin: 1rem auto; /* Center the total sum horizontally */
  padding: 3rem 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 0.2rem;
}
